.about {
	background-color: var(--background-color);
	border-color: var(--background-color);
	border-radius: 5px;
	margin: 1px 2vw;
	padding: 10px;
}

.about>h1 {
	font-size: 25px;
	margin-bottom: 1rem;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--panel-background);
	color: var(--primary-color);
	text-align: center;
}