@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

* {
  --background-color: #24252a;
  --panel-background: #414141;
  --color: #edf0f1;
  --primary-color: #42bbf2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color);
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--background-color);
}

/* Navbar */
li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  display: flex;
  cursor: pointer;
  margin-right: auto;
  border-radius: 50%;
}

.logo > p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-size: 25px;
}

.nav-links {
  list-style: none;
}

.nav-links > li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links > li > a {
  transition: all 0.2s ease 0s;
}

.nav-links > li a:hover {
  color: var(--primary-color);
}

.cta button {
  padding: 9px 25px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transform: all 0.3s ease 0s;
}

.cta button:hover {
  opacity: 0.9;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--panel-background);
}

/* Chrome fix */
*:focus {
  outline: none;
}

/* Helper styles */
.serverSideInfo {
  display: none;
}

.jumbotron {
  background-color: var(--background-color);
  border-color: var(--background-color);
  border-radius: 5px;
  margin: 1px 2vw;
  padding: 10px;
}

.jumbotron > h1 {
  font-size: 20px;
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--panel-background);
  color: var(--primary-color);
}

.jumbotron > span {
  color: var(--color);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--panel-background);
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 1s;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  /* box-shadow: var(--panel-background) 0px 0.35em 1.175em,
	var(--panel-background) 0px 0.175em 0.5em; */
  filter: blur(0px);
  transform: translateY(-2px) scale(1.048);
}

figure > figcaption {
  padding: 0 10px;
  margin: 0.5rem 0;
  font-size: 15px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  margin-top: auto;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
