<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/head.ejs', { title: "404", css: ["global"] }) %>

<body>
	<%- include('../layouts/navbar.ejs') %>
	<div class="jumbotron">
		<h1>404 Error.</h1>
		<h1>Page not found!</h1>
		<a href="/" class="cta" style="width: 100%;"><button style="width: inherit;">Go back to home
				page</button></a>
	</div>

	<%- include('../layouts/footer.ejs') %>
</body>

</html>