<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/head.ejs', { title: "404" }) %>

<body>
	<%- include('../layouts/navbar.ejs') %>

	<div class="jumbotron">
		<h1>Are you lost?</h1>
		<a href="/" class="cta" style="width: 100%;"><button style="width: inherit;">Go back to home
				page</button></a>
	</div>

	<%- include('../layouts/footer.ejs') %>
</body>

</html>