<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/head.ejs', { title: "Home" }) %>

<body>
    <%- include('../layouts/navbar.ejs') %>
    <div class='aboutjumbotron'>
    <h1>Comming soon, check back later. :) -Mork</h1>
    </div>
    <%- include('../layouts/footer.ejs') %>
</body>
</html>