<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/head.ejs', { title: "Home", css: ["global", "about"] }) %>

<body>
    <%- include('../layouts/navbar.ejs') %>
    <div class='about jumbotron'>
        <h1>Coming soon, check back later. :) -Mork</h1>
    </div>
    <%- include('../layouts/footer.ejs') %>
</body>

</html>