<head>
	<title><%- title %> | Swiss Plus</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FontAwesome CDN -->
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="styles/global.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="images/swiss-plus.png" type="image/x-icon">
</head>